body {
    background-color: #303030;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}
header {
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
header > img {
    width: 25%;
}
.header_cv_pagina, .header_contact_pagina, .header_overmij_pagina, .header_project_pagina {
    text-align: center;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}
.img-container > img {
    width: 100%;
}
nav {
    border-top: solid #FFBD00;
    border-bottom: solid #FFBD00;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: "Montserrat", sans-serif;
    position: sticky;
}
nav > a {
    color: whitesmoke;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 20px;
}
.nav_plus_logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.nav_logo {
width: 10%;
text-align: start;
margin-left: 0.5em;
}
.nav_logo > img {
    width: 100%;
}
.nav_links {
    width: 90%;
    margin-right: 10%;
}
.nav_links > a {
    color: whitesmoke;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 20px;
    text-align: center;
}
main {
    margin-bottom: 1.5em;
    width: 100%;
}
.main_text-container {
    text-align: center;
    color: whitesmoke;
    
}
.img_text-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.img_text-container > div {
    width: 15%;
    
}
.img_text-container > div > img{
    width: 100%;
    border: #FFBD00 solid;
}
.img_text-container > p {
    width: 60%;
    text-align: start;
    margin-left: 1em;
    margin-top: 0em;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.main_text-container > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}
footer {
    background-color: #242424;
}
.footer_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.footer_mail {
    text-align: end;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.footer_mail > p > a {
    text-decoration: none;
    color: whitesmoke;
}
.hl {
    border-bottom: #FFBD00 solid 1px;
}
.footer_tel {
    text-align: start;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.footer_img {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}
.footer_img > img{
    width: 15%;
    padding-bottom: 1em;
    padding-top: 1em;
}
.cv_container {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;

}
.sidebar {
width: 30%;
display: flex;
flex-direction: column;
background-color: #242424;
border-right: #FFBD00 solid 1px;
color: whitesmoke;
}
.foto {
    width: 60%;
    border: #FFBD00 solid 1px;
    margin: 0.5em;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.foto > img {
    width: 100%;
}
.spec_tussentitel {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-left: 0.5em;
}
.spec_text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-left: 0.5em;
}
.cv_main_content {
    border: #FFBD00 solid 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cv_main_header {
    background-color: #242424;
    color: whitesmoke;
    border-bottom: #FFBD00 solid 1px;
    width: 100%;
}
.cv_header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0.5em;
}
.cv_header_email, .cv_header_tel {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-left: 0.5em;
}
.cv_main_text_tussentitels {
    color: whitesmoke;
    margin-left: 0.5em;
    background-color: #242424;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 0.2em;
}
.cv_profiel_text {
    color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}
.cv_opleiding_text {
    color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.1em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.cv_opleiding_text_smal {
    color: whitesmoke;
    margin-left: 1em;
    margin-top: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-bottom: 0.5em;
}
.cv_opleiding_text_smaller {
    color: whitesmoke;
    margin-left: 1.5em;
    margin-top: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.contact_pagina_text {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contact_pagina_text > a {
    text-decoration: none;
    color: whitesmoke;
}
.hl_contact {
    border-bottom: #FFBD00 solid 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.fa-envelope, .fa-phone, .fa-linkedin {
    color: whitesmoke;
    margin-right: 0.5em;
}
.formulier_contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.form_labels {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 1em;
}
#naam {
    width: 50%;
    background-color: #242424;
    color: whitesmoke;
    border-color: #FFBD00;
    margin: 0.5em;
}
#email {
    width: 50%;
    background-color: #242424;
    color: whitesmoke;
    border-color: #FFBD00;
    margin: 0.5em;
}
#onderwerp {
    width: 60%;
    background-color: #242424;
    color: whitesmoke;
    border-color: #FFBD00;
    margin: 0.5em;
}
#vraag {
    width: 80%;
    height: 100px;
    background-color: #242424;
    color: whitesmoke;
    border-color: #FFBD00;
    margin: 0.5em;
}
#button {
    width: 20%;
    background-color: #242424;
    color: whitesmoke;
    border-color: #FFBD00;
    border-radius: 10px;
    margin: 0.5em;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.overmij_pagina_main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.overmij_pagina_header_text {
    color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
.overmij_pagina_tussentitel1 {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    margin-left: 0.5em;
    margin-top: 1.5em;
}
.overmij_pagina_tussentitel2, .overmij_pagina_tussentitel3 {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 0.5em;
}
.overmij_pagina_tussentitel3 {
    text-align: center;
    font-size: 25px;
    margin-top: 1.5em;
}
.overmij_pagina_text {
    color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Poppins", sans-serif;
}
.overmij_pagina_tabel {
    border-collapse: collapse;
    border: #FFBD00 1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
#overmij_pagina_tabel_caption {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    caption-side: bottom;
    margin-top: 0.5em;
}
.tabel_header {
    text-align: center;
    color: whitesmoke;
    background-color: #242424;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: #FFBD00 solid 1px;
    padding: 0.5em;
}
.tabel_data {
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border: #FFBD00 1px solid;
    padding: 0.5em;
}
.tabel_data > a {
    color: whitesmoke;
    text-decoration: underline;
}
.project_pagina_text {
    color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
.project_pagina_container {
    display: flex;
    justify-content: center;
}
.project1 {
    background-color: #242424;
    width: 13%;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.project1 > div > img {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}
.project1_detail_pagina_main {
    margin-bottom: 0px;
}
.project1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 60%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.project1_img_container, .project1_img2_container, .project1_img3_container, .project1_img4_container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-sizing: border-box;
}
.project1_img_container > img, .project1_img2_container > img, .project1_img3_container > img, .project1_img4_container > img {
    width: 100%;
}
.project1_text_container > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
}
.project1_text_container > p {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.back_icon {
    margin: 0.5em;
    text-decoration: none;
    color: #242424;
}
.back_icon > i {
    font-size: 30px;
}
.computers_img_text_container, .lezen_img_text_container {
    display: flex;
    justify-content: center;
}
.computer_img, .lezen_img {
    width: 30%;
}
.computers_img > img, .lezen_img > img {
    width: 100%;
}